* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  padding: 1rem;
  background-color: #0679e4;
}

.compare-form {
  display: flex;
  max-width: 30vw;
  padding: 20px;
  flex-flow: column;
  margin: 100px auto 1rem auto;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
}

.compare-form h2 {
  margin: 0;
  padding: 1rem 0px 0.5rem;
  font-size: 1.25rem;
  font-weight: 700;
  color: #434850;
  text-align: left;
}

.compare-form label {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border: 1px dashed #e6e8ec;
  color: #000000;
  padding: 0.5rem 0.75rem;
  font-weight: 500;
  font-size: 0.875rem;
  margin: 0.5rem 0;
  border-radius: 0.25rem;
  cursor: pointer;
}

.compare-form label i {
  padding: 0.25rem 0;
  color: #0c7ce5;
}

.compare-form label span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8px;
  word-break: break-all;
}

.compare-form label:hover {
  background-color: #f7f8f9;
  border: 1px dashed #e3e5ea;
}

.compare-form .browse {
  color: #0c7ce5;
  display: inline-block;
  margin: 0px 2px;
}

.compare-form input[type="file"] {
  appearance: none;
  visibility: hidden;
  height: 0;
  width: 0;
  padding: 0;
  margin: 0;
}

.result {
  display: none;
  background: #ecf6ff;
  border-radius: 0.25rem;
  gap: 0.5rem;
  padding: 0.5rem;
}

.result * {
  font-size: 0.5rem;
}

.result .ph-file {
  font-size: 1.5rem;
}

.result span {
  display: block;
}

.result .file-details {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.25rem;
  flex: 1;
}

.result .file-details span.file-name {
  color: #000000;
  font-weight: 600;
}

.result .file-details span.file-size {
  color: #a0aeba;
}

.result .upload-result {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.25rem;
}

.result .upload-result .ph-circle-notch {
  -webkit-animation: rotate 2s linear infinite;
  -moz-animation: rotate 2s linear infinite;
  -ms-animation: rotate 2s linear infinite;
  -o-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  font-size: 1rem;
}

.result .upload-result .ph-check-circle {
  color: #23c925;
  font-size: 1rem;
}

.result .upload-result .ph-x-circle {
  color: #c94647;
  font-size: 1rem;
}

.images {
  display: none;
  max-width: fit-content;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  margin: 100px auto 1rem auto;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
}

.images.comparison {
  display: flex;
  gap: 10px;
}
